* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Josefin Sans';
    --very-light-gb: hsl(236, 33%, 92%);
    --dark-grayish: hsl(236, 9%, 61%);
    --bg-desktop: no-repeat url(images/bg-desktop-light.jpg) hsl(0, 0%, 98%);
    --check-background: linear-gradient(#57ddff, #c058f3);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-desktop);
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 350px;
}

header img {
    margin: 20px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
}

table {
    display: flex;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

tr {
    display: flex;
    height: 60px;
    width: 450px;
    align-items: center;
}

td {
    display: flex;
    align-items: center;
}

/* Input field */

#create {
    margin-bottom: 20px;
}

#cr-td {
    width: 375px;
}

button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid var(--very-light-gb);
    background-color: transparent;
    /* margin: 15px; */
}

#newb-cont,
.listed {
    width: 60px;
    justify-content: center;
}

input[type="text"] {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1rem;
    border: none; 
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: var(--dark-grayish);
}

button:hover {
    background: 
        linear-gradient(white, white) padding-box,
        var(--check-background) border-box;
    border: 1px solid transparent;
}

/* List section */

#todobox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.todo-list {
    flex-direction: column;
}

.todo-row {
    border-bottom: 1px solid var(--very-light-gb);
}

.list-item {
    width: 300px;
}

.remove {
    visibility: hidden;
}

.todo-row:hover .remove {
    visibility: visible;
}

/* box footer */

#boxfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #1034a6;
}